/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body{
	font-family: helvetica, sans-serif;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;

}

.container{
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
	font-size: 22px;
	color: #040404;

	font-size: 48px;
	background-color: #EEEFF7;
	line-height: 56px;
	color: #1C1D21;
}

.container .message{
	font-size: 18px;
	color: #390C78;
}

.inner{
	display: table-cell;
	vertical-align: middle;
}

.toilet-status{
	font-weight: 800;
}


.toilet-status.-loading{
-webkit-animation-duration: 0.75s;
 -moz-animation-duration: 0.75s;
 animation-duration: 0.75s;
 -webkit-animation-iteration-count: infinite;
 -moz-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -webkit-animation-name: rotate-forever;
 -moz-animation-name: rotate-forever;
 animation-name: rotate-forever;
 -webkit-animation-timing-function: linear;
 -moz-animation-timing-function: linear;
 animation-timing-function: linear;
}

.notify-me{
	box-sizing: border-box;
  background-color: #3C24B5;
  color: #fff;
  border: 2px #3C24B5 solid;
  border-radius: 3px;
	display:none;

	margin-top: 2em;
  padding: 20px 40px;

  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  outline: none;

  transition: background-color 200ms ease, box-shadow 200ms ease;
}


.notify-me:hover{
	 background-color: lighten(#3C24B5,20);
	 /*transform: translateY(-10%);*/
		webkit-box-shadow: 6px 6px 0px -1px rgba(0,0,0,1);
		-moz-box-shadow: 6px 6px 0px -1px rgba(0,0,0,1);
		box-shadow: 0px 6px 0px -1px rgba(0,0,0,1);
}
